body {
    margin: 0;
}

#canvas {
    position: absolute;
    z-index: 1;
    background: linear-gradient(lightblue, rgb(127, 127, 233));
}

#menu-icon {
    width: 30px;
    height: 30px;
    background-image: url('../Images/menu-icon.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

#menu-icon:hover, #menu-icon:focus {
    border: 3px solid rgb(14, 14, 82);
}

#mission-complete-menu {
    width: 35vw;
    height: 60vh;
    background-color: rgb(228, 227, 227);
}

#mission-complete-form input {
    margin: .5em 0;
}

#mission-complete-form fieldset {
    margin: 1em 0;
}

.weapon-choice-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

.weapon-select-container, .armor-select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.weapon-stats-container {
    display: flex;
    flex-direction: column;
}

.weapon-choice-image {
    margin-right: 1em;
    width: 100px;
    height: 64px;
}

.weapon-choice-label {
    margin: 1em;
}

.upgrade-option-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

#armor-stat, #damage-stat {
    display: block;
    font-size: 1.2rem;
}

#shield-image {
    width: 50px; 
    height: 64;
}

#sword-image {
    width: 55px;
    height: 70px;
}
